@{
    ViewData["Title"] = "Response Page";
}

<div class="text-center">
    <h1 class="display-4">The request was successful . An Email will be sent to you on when the cash will be available.Thank you</h1>
    <p>  </p>
</div>
